<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nabarColapsibleContent" aria-controls="navbarCollapsibleContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsibleContent">
        <% if (user) { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userManagementMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Management</a>
                    <div class="dropdown-menu" aria-labelledby="userManagementMenu">
                        <a class="dropdown-item" href="/admin/users/">List Users</a>
                        <a class="dropdown-item" href="/admin/users/create">Create User</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin/profile" class="nav-link"><%= user.fullName %></a>
                </li>
                <li class="nav-item">
                    <a href="/admin/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        <% } %>
    </div>
</nav>
